.tvyoplus .box .paket .main .bigleftcolumn {
	margin-top:10px;
}
.tvyoplus .box .paket .main .bigrightcolumn {
	margin-top:10px;
}
.tvyoplus .box .paket .main .bigrightcolumn span.fullline {
	padding-top: 10px;
	padding-bottom:10px;
}
.tvyoplus .box .right .uyelikbottomrightcolumn {
	margin: 10px 14px 0 40px;
}

.tvyoplus .box .right .uyelikkayitmain .uyelikleftcolumn {
	margin-top:10px;
}
.tvyoplus .box .right .uyelikkayitmain .uyelikrightcolumn {
margin-top:10px;	
}
.tvyoplus .box .paket .main .bigrightcolumn .sureler{
margin-bottom: 7px;
padding-top: 0px;	
}
.tvyoplus .box .right .baslik .sol{
	display: inline-block;
	padding-top:15px;
}
.tvyoplus .box .paket .baslik .sol
{
 display: inline-block;
	padding-top:15px;
}
.tvyoplus .box .right .baslik h1
{
	font-family: arial;
	color: #747474;
	font-size: 12px;
	font-weight: bold;
	line-height: 8px;
}

.tvyoplus .box .paket .baslik .sol span
{

  line-height: 36px;
}
.tvyoplus .box .right .baslik .sol span
{
 
  line-height: 36px;
}
.tvyoplus .box .right .baslik h2
{
  font-family: arial;
  color: #4697e4;
  font-size: 15px;
  font-weight: bold;
  line-height: 8px;
  margin-top:-2px;
}

.tvyoplus .box .paket .baslik h1
{
  font-family: arial;
  color: #747474;
  font-size: 15px;
  font-weight: bold;
		line-height: 8px;
}


.tvyoplus .box .paket .baslik h2
{
  font-family: arial;
  color: #afafaf;
  font-size: 12px;
  font-weight: bold;
  line-height: 8px;
  margin-top:-2px;
}


.checkbox229_lbl {
	margin-top:40px;
	float:left;
	margin-left:-200px;
	margin-bottom:10px;
}
.tvyoplus .box .paket .main .leftcolumnone
{
  height: 260px;
  padding: 15px 10px 10px 10px;
  margin: 10px 3px 10px 8px;
}
.tvyoplus .box .paket .leftcolumnone h2 {
height:5px;
}
.tvyoplus .box .paket .leftcolumntwo h2 {
height:5px;
}
.tvyoplus .box .paket .main .leftcolumntwo
{
  height: 260px;
  padding: 15px 10px 10px 10px;
  margin: 10px 3px 10px 3px;
}

.tvyoplus .box .paket .main .leftcolumnone .sureler
{
 
  margin-top: -30px;

}

.tvyoplus .box .paket .main .leftcolumntwo .sureler
{
 
  margin-top: -30px;
 
}

.tvyoplus .box .paket a.fiyatone
{
    margin-top:-10px;

}
.tvyoplus .box .paket a.fiyattwo
{
  margin-top:-10px;
}
.tvyoplus .box .paket a.fiyatthree
{
    margin-top:-10px;
}


.tvyoplus .box .paket h4
{

  margin-top: 17px;
}

.tvyoplus .box .paket h5
{

  margin-top: 14px;
}

.tvyoplus .box .paket .main .webone
{
	margin-top:10px;
}
.tvyoplus .box .paket .main .tabletone
{
	margin-top:10px;
}
.tvyoplus .box .paket .main .mobilone
{
	margin-top:10px;
}
.tvyoplus .box .paket a.hemenal
{
  
  margin: 9px 0 0 0;
}

